__pycache__/
.DS_Store
outputs*/models*/
outputs*/evals/batch*
outputs*/evals/eap_temp*
outputs*/evals/eap2500*
outputs*/evals/eap/circuit*
enveap
__pycache__
graphviz
logs/
.ipynb_checkpoints
test
temp
unused_code
hotel_dataset/*/old/*
.env
